extends ../../_base.ja.pug

block content
  h2 fixRTM Official Wiki
  p
    ul.list-unstyled
      li: +gh_repo('fixrtm/wiki-js-for-fixrtm')
      li: +glay_link('Wiki.js', 'wiki.fixrtm.com', links.wikiFixRTMAnatawa12Com)
    | RTM と fixRTM の情報がある wiki
  h3 Description
  p
    | これは fixRTM 公式の wiki です。
    | この wiki は fixRTM の情報を公式として、 RTM と KaizPatchX のを非公式に書かれます。
  p
    | この wiki は #[a(href=links.wikiJs) wiki.js] という多言語対応でマークダウン等を記事で使用する
    | wiki システムを使用します。
  p
    | wiki.js 今回使用するのに十分な機能がなかったので fixRTM でフォークしました。
    | このフォークでは以下の機能が追加されています、
    ul
      li #[a(href=links.MDNAcceptLanguage) Accept-Language Header] をもとにした各言語のページへの
        = "リダイレクトが実装されています。"
      li 翻訳されたログインページがあります。
      li ログインページに利用規約へのリンクがあります。
      li markdown以外で記事が作成できません。
