extends ../../_base.ja.pug

block content
  h2 mod-pathcing Gradle Plugin
  p
    ul.list-unstyled
      li: + gh_repo('fixrtm/mod-patching')
    | 他の mod のパッチを作成するための Gradle Plugin.
  h3 Description
  p
    | これはデコンパイル、ソースコードのパッチ、バイナリのパッチを作成するための Gradle Plugin です。
    | このプラグインには mod を開発環境用にダウンロードする機能もあります。
  h3 Download
  p
    | ダウンロードはありません。 Gradle の plugins ブロックを使用してください。
    | プラグインのリストは #[a(href=links.ghModPatchingReadme) GitHub 上の README] を参照してください。
