extends ../../_base.en.pug

block content
  h2 mod-pathcing gradle plugin
  p
    ul.list-unstyled
      li: + gh_repo('fixrtm/mod-patching')
    | The gradle plugin to make a mod smaller jar.
  h3 Description
  p
    | This is a gradle plugin and tool decompile, make source code patch, make binary patch.
    | This also includes mod downloader for development environment.
  h3 Download
  p
    | No downloads available, use plugins block.
    | See list of plugins by #[a(href=links.ghModPatchingReadme) README on GitHub]
