extends ../../_base.ja.pug

block content
  h2 jar-in-jar-mod Gradle Plugin
  p
    ul.list-unstyled
      li: + gh_repo('fixrtm/jar-in-jar-mod')
    | modのjarのサイズを小さくするための Gradle Plugin
  h3 Description
  p
    | これは fixRTM の配布サイズを小さくするための Gradle Plugin です。
    | このプラグインにより fixRTM のサイズがだいたい半減しました。
  h3 Download
  p
    | ダウンロードはありません。 Gradle の plugins ブロックを使用してください。
    | プラグインのリストは #[a(href=links.ghJarInJarReadme) GitHub 上の README] を参照してください。
