extends ../../_base.ja.pug

block content
  h2 jar-in-jar-mod gradle plugin
  p
    ul.list-unstyled
      li: + gh_repo('fixrtm/jar-in-jar-mod')
    | The gradle plugin to make a mod smaller jar.
  h3 Description
  p
    | This is a gradle plugin to make fixRTM distribution smaller.
    | This plugin make fixRTM as half size as one without this plugin.
  h3 Download
  p
    | No downloads available, use plugins block.
    | See list of plugins by #[a(href=links.ghModPatchingReadme) README on GitHub]
