extends ../../_base.ja.pug

block content
  h2 Plugin Permissions for NGT
  p
    ul.list-unstyled
      li: + gh_repo('fixrtm/plugin-permissions-for-ngt')
    | Bukkit のパーミッションを NGTLib のパーミッションで使用するための mod
  h3 Description
  p
    | Bukkit にはパワフルなパーミッションシステムがあります。
    | NGTLib には専用のパーミッションシステムがあります。
    | この mod は NGTLib 用のパーミッションを Bukkit で管理するための橋渡しをします。
    | 詳細は上記のバッジから GitHub レポジトリを参照してください。
  h3 Download
  p
    ul
      li: a(href=links.ghPluginPermissionsLatest) 最新版を Github から
