extends ../../_base.ja.pug

block content
  h2 Plugin Permissions for NGT
  p
    ul.list-unstyled
      li: + gh_repo('fixrtm/plugin-permissions-for-ngt')
    | The mod to use permissions of bukkit as NGTLib's permissions.
  h3 Description
  p
    | The Bukkit plugin system has very powerful permission system.
    | The NGTLib provides a permission system only for mods based on NGTLib.
    | This mod provides permission bridge to control permissions of NGTLib from Bukkit.
    | See GitHub repository for details by badge above.
  h3 Download
  p
    ul
      li: a(href=links.ghPluginPermissionsLatest) Github For Latest Releases
