extends ../../_base.ja.pug

block content
  h2 Mod fixRTM
  p
    ul.list-unstyled
      li: + gh_repo('fixrtm/fixRTM')
      li: + curse_forge('minecraft/mc-mods/fixrtm')
    | 1.12.2 版 RTM と NGTLib にパッチを当てるMOD
  h3 Description
  p
    | fixRTMの主なサブプロジェクトです。
    | このModは RTM のバグを修正し、いくつかの機能を追加するためのmodです。
    | 詳細は GitHub のプロジェクトを参照してください。
  h3 Download
  p
    ul
      li: a(href=links.curseFixRTMFiles) stableかSNAPSHOT リリースを CurseForge から
      li: a(href=links.ghFixRTMLatest) 最新版リリースを Github から
      li: a(href=links.ghFixRTMReleases) すべてのリリースを Github から
  h3 dependencies
  p
    ul
      li fixRTM リリース時の RTM の最新版
      li fixRTM リリース時の NGTlib の最新版
      li Minecraft Forge 14.23.5.2847 以降
    | #[a(href=links.ghFixRTMVersionMap) こちら]に RTM と NGTlib と fixRTM の間のバージョンの対応表があります。
    | 各 fixRTM のリリースのリリースノートと mod のメインとなるクラスの
    | @Mod アノテーションに前提バージョンの情報があります。
