extends ../../_base.en.pug

block content
  h2 A fork of KaizPatchX
  p
    ul.list-unstyled
      li: + gh_repo('fixrtm/KaizPatchX')
    | A fork of KaizPatchX, @Kai-Z-JP's fork of RTM for 1.7.10.
  h3 Description
  p
    | fixRTM didn't have enough resource to provide 1.7.10 version
    | so instead of creating fixRTM for 1.7.10, we're contributing this project.
    | For more details of KaizPatchX, see
    | #[a(href=links.ghKaizPatchXReadme) README in original project]
