extends ../../_base.ja.pug

block content
  h2 A fork of KaizPatchX
  p
    ul.list-unstyled
      li: + gh_repo('fixrtm/KaizPatchX')
    | @Kai-Z-JP による 1.7.10 版 RTM のフォークである KaizPatxhX のフォーク
  h3 Description
  p
    | fixRTM は 1.7.10 版を作る労力がありませんでした。
    | そのためその代わりに KaizPatchX に貢献することにしました。
    | KaizPatchXについては#[a(href=links.ghKaizPatchXReadme) 本家の README] を参照してください。
