extends _base.ja.pug

block content
  section.sec-header
    .h1 fixRTM
    p RTMのユーザー体験を良くする

  section.sec-community
    h2 Community
    ul.list-unstyled
      li: +discord(links.discordInvite)
      li: +gh_org('fixrtm')
      li: +twitter('project_fixrtm')

  section
    h2 GOALS
    p
      | fixRTM のゴールは「RTMのユーザー体験を良くする」ことです。
      | そのため、以下のゴールを定めました。
    ul
      li: a(href='#goal-rtm') RTM を改善する
      li: a(href='#goal-tools') ModelPack 作成のためのツールを作成する
      //-li: a(href='#goal-modelpacks') ModelPackを使用しやすくする
    section
      h3#goal-rtm RTM を改善する
      p
        | RTM はいくつかバグがありますが原作者は修正するのに十分な時間がありません。
        | そのためこのプロジェクトでは RTM のバグを修正します。
        | 多くの人が望むが RTM に実装されていない機能もあるため、それらも実装します。
      section
        h4 Subprojects for this goal
        ul
          li: a(href='/ja/projects/fixrtm') fixRTM
          li: a(href='/ja/projects/kaizpatchx') Fork of KaizPatchX
          li: a(href='/ja/projects/plugin-permissions') Plugin Permissions for NGT
    section
      h3#goal-tools Provides tools for model pack authors
      p
        | 現在、最新の RTM 向けのモデルパックのためのツールやドキュメントは見つかりません。
        | そのためこのプロジェクトではツールやlinterを作成します。
      section
          h4 Subprojects for this goal
          ul
            li: a(href="/ja/projects/official-wiki") fixRTM official Wiki
    //- section
      h3#goal-modelpacks ModelPackを使用しやすくする
      p 現在のモデルパックコミュニティは以下の問題があると考えられます。
      ul
        li 各作者が各個人ごとのライセンスを使用してる
        li 制限を将来変更可能なライセンスを使用してる作者がいる
        li PPAP(パスワードZIP パスワード 暗号化 プロトコル)を使用している作者が多い
      p これらはモデルパックユーザーを混乱させています。
